@*@model Garage_2_0.Models.ParkedVehicle*@

@model Garage_2_0.ViewModels.CheckOutModel
@{
    ViewBag.Title = "checkout";
}

<h2>Are you sure you want to checkout? Confirm below.</h2>
<div>
    <h3>Parked vehicle</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Confirm Checkout", "ConfirmCheckout", new { id = Model.Id })  <b>|</b>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
