@*@model Garage_2_0.Models.ParkedVehicle*@

@model Garage_2_0.ViewModels.CheckOutModel
@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>

<h3>Are you sure you want to checkout?</h3>
<div>
    <h4>ParkedVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StopTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StopTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingCost)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
