@model Garage_2_0.ViewModels.OverviewModel

@{
    ViewBag.Title = "Index";
}

<h2>Overview</h2>


@if (TempData["Feedback"] != null) {
<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @TempData["Feedback"]
</div>
}
<p>
    @Html.ActionLink("Check in vehicle", "CheckIn")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Search, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="submit" value="Search" class="btn btn-default" />
            </div> 
        </div>

        @Html.HiddenFor(model => model.IsDescending)
        @Html.HiddenFor(model => model.SortBy)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("View all", "Index", new { sortBy = Model.SortBy, isDescending = Model.IsDescending, search = "" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Detail view", "OverviewDetails", new { sortBy = Model.SortBy, isDescending = Model.IsDescending, search = Model.Search })
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().RegNo).ToString(), "Index", new { sortBy = "RegNo", isDescending = !(Model.IsDescending), search = Model.Search })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().OwnerName).ToString(), "Index", new { sortBy = "OwnerName", isDescending = !(Model.IsDescending), search = Model.Search })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().Type).ToString(), "Index", new { sortBy = "Type", isDescending = !(Model.IsDescending), search = Model.Search })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().Brand).ToString(), "Index", new { sortBy = "Brand", isDescending = !(Model.IsDescending), search = Model.Search })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().StartTime).ToString(), "Index", new { sortBy = "StartTime", isDescending = !(Model.IsDescending), search = Model.Search })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Vehicles) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check out", "CheckOut", new { id=item.Id })
        </td>
    </tr>
}

</table>
    