@model Garage_2_0.ViewModels.OverviewModel

@{
    ViewBag.Title = "Index";
}

<h2>Overview</h2>

<p>
    @Html.ActionLink("Check In Vehicle", "CheckIn")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().RegNo).ToString(), "Index", new { sortBy = "RegNo", isDescending = !(Model.IsDescending) })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().Type).ToString(), "Index", new { sortBy = "Type", isDescending = !(Model.IsDescending) })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().Color).ToString(), "Index", new { sortBy = "Color", isDescending = !(Model.IsDescending) })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Vehicles.First().StartTime).ToString(), "Index", new { sortBy = "StartTime", isDescending = !(Model.IsDescending) })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Vehicles) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("CheckOut", "CheckOut", new { id=item.Id })
        </td>
    </tr>
}

</table>
