@*@model Garage_2_0.Models.Member*@
@model Garage_2_0.ViewModels.MemberDetailsModel

@*
    @{ ViewBag.Title = "Details"; }
*@

<div>
    <h4>Member</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MembershipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Member", new { id = Model.Id }) |
    @Html.ActionLink("Back to member list", "Index", "Member")
</p>

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberParkedVehicles.First().RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberParkedVehicles.First().Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberParkedVehicles.First().Model)
        </th>
    </tr>

    @foreach (var item in Model.MemberParkedVehicles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "ParkedVehicles", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "ParkedVehicles", new { id = item.Id }, null) |
                @Html.ActionLink("Check out", "CheckOut", "ParkedVehicles", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
